*.elf
*.bin
*.hex
*.map
*.list
*.o
*.obj
*.su
Debug/
Release/
*.launch
.settings/
*.crf
*.d
*.axf
*.lnp
*.sct
*.dep
*.htm
*.build_log.htm
*.jed
*.lst
MDK-ARM/DebugConfig/
MDK-ARM/RTE/
RTE/
_LinkerScript.cmd
*.pbi
*.pbd
*.browse
*.custom_argvars
settings/